<div id="header">
    
    <div class="container"> 
      <!-- Header | Logo, Menu
      ================================================== -->
      <div class="logo"><a href="index.html"><img src="../assets/images/logo.png" alt="" /></a></div>
      <div class="mainmenu">
        <div id="mainmenu">
          <ul class="sf-menu">
            <li><a href="home" id="visited">Home</a></li>
            <li><a routerLink="aboutus">About</a></li>
            <li><a routerLink="portfolio">Portfolio</a>
              
              <ul>
                <li><a href="portfolioproject.html">Portfolio Project</a></li>
              </ul>
            </li>
            <li><a routerLink="blog">Blog</a>
              <ul>
                <li><a href="singleblog.html">Single Post</a></li>
              </ul>
            </li>
            <li><a routerLink="featuers">Features</a></li>
            <li><a routerLink="contact">Contact</a></li>
          </ul>
        </div>
        <form id="responsive-menu" action="#" method="post">
            <select>
              <option value="">Navigation</option>
              <option value="index.html">Home</option>
              <option value="aboutsus">About</option>
              <option value="portfolio.html">Portfolio</option>
              <option value="portfolioproject.html">Portfolio Project</option>
              <option value="blog.html">Blog</option>
              <option value="singleblog.html">Single Post</option>
              <option value="features.html">Features</option>
              <option value="contact.html">Contact</option>
            </select>
          </form>
        </div>
          <!-- mainmenu ends here --> 
  </div>
  <!-- container ends here --> 
</div>