<!-- Footer ==================================================
  ================================================== -->
  <div class="footer">
      <div class="container">
        <div class="one_fourth">
          <h3>Contact Informations</h3>
          <p><span class="orange"><strong>Address:</strong></span> <br>
            No.2 - 123678 street name City, Country</p>
          <p><span class="orange"><strong>Phone:</strong></span> <br>
            + 9 (094) 067 93567<br>
          </p>
          <p><span class="orange"><strong>Email:</strong></span> <br>
            info@yoursite.com<br>
          </p>
        </div>
        <!-- four columns ends here -->
        <div class="one_fourth">
          <h3>Blogroll</h3>
          <ul>
            <li><a href="#" title="">Development Blog</a></li>
            <li><a href="#" class="">New Freebies</a></li>
            <li><a href="#" class="">Themeforest Theme</a></li>
            <li><a href="#" class=""> Design News</a></li>
            <li><a href="#" class="">WordPress Theme</a></li>
          </ul>
        </div>
        <!-- four columns ends here -->
        <div class="one_fourth">
          <h3>Archive</h3>
          <ul>
            <li><a href="#" class=""> August 2012</a></li>
            <li><a href="#" class="">July 2012</a></li>
            <li><a href="#" class="">Juny 2012</a></li>
            <li><a href="#" class=""> May 2012</a></li>
            <li><a href="#" class="">April 2012</a></li>
          </ul>
        </div>
        <!-- four columns ends here -->
        <div class="one_fourth lastcolumn">
          <h3>About</h3>
          <p>Freebix is responsive, simple and clean template with a lot attention to detail. Get it now!</p>
          <p>Visit <a href="http://anarieldesign.com/" rel="nofollow">Anariel Design</a> and find more interesting things.</p>
        </div>
        <!-- four columns ends here --> 
      </div>
      <!-- container ends here --> 
    </div>
    <!-- footer ends here --> 
    <!-- Copyright ==================================================
    ================================================== -->
    <div id="copyright">
      <div class="container">
        <p class="copyright">&copy; Copyright 2013. &quot;Freebix&quot; by <a href="http://www.anarieldesign.com/" rel="nofollow">Anariel Design</a>. All rights reserved.</p>
      </div>
      <!-- container ends here --> 
    </div>