<p>
  portfolio works!
</p>
<div class="container portfolio">
    <div class="one_third shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/a.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Beauty</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third-->
    <div class="one_third shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/b.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Fashion</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third-->
    <div class="one_third lastcolumn shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/c.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Inspirational</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third-->
    <div class="one_third shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/b.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Beauty</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third-->
    <div class="one_third shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/c.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Fashion</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third-->
    <div class="one_third lastcolumn shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/a.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Inspirational</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third-->
    
    <div class="one_third shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/c.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Beauty</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third-->
    <div class="one_third shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/a.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Fashion</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third-->
    <div class="one_third lastcolumn shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/b.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Inspirational</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third-->
    <div class="one_third shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/a.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Beauty</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third-->
    <div class="one_third shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/b.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Charity</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third-->
    <div class="one_third lastcolumn shadow">
      <div class="view view-first"> <img src="../assets/images/portfolio/c.jpg" alt="" />
        <div class="mask">
          <h2><a href="#">Inspirational</a></h2>
        </div>
        <!-- mask ends here --> 
      </div>
      <!-- view ends here --> 
    </div>
    <!--end one_third--> 
  </div>
