<p>
  parentcourse works!
</p>
<!-- <div class="container">
      <h1>Angular Simple Reactive Form</h1>
      <form [formGroup]="myForm" novalidate (ngSubmit)="sendidTochild()">
   <div class="form-group">
          <label for="contry">Countries</label>
          <select class="form-control" id="contry" formControlName="country" (change)="onChange($event.target.value)">
            <option *ngFor="let contry of courselist" [value]="contry.courseId">{{contry.courseName}}</option>
          </select>
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
</div>
<app-childcourse></app-childcourse> -->


