
<div class="breadcrumbs">
    <div class="container">
      <header>
        <h3>Blog Page</h3>
        <p>- Free, fully <span class="pink">responsive HTML</span> site template made by <a href="http://www.anarieldesign.com/" rel="nofollow"><strong>Anariel Design</strong></a> -</p>
      </header>
    </div>
    <!-- container ends here -->
    <hr class="separator1">
  </div>
<div class="container">
    <div class="ten columns alpha">
      <article class="post">
        <h3>News from Photography World</h3>
        <a href="../assets/images/flexslider/1.jpg" class="prettyPhoto[gal]"><img class="shadow" src="../assets/images/blog/1.jpg" alt=""/></a>
        <div class="entry-date">
          <div class="number">08 DEC</div>
        </div>
        <p>Lorem ipsum dolor sit amet, proscriptum videt ulteriori. Filiam sunt amore nec est cum autem est se in. Cellam sanctissima coniunx in lucem exempli paupers coniunx rex cum autem quod ait regem Ardalio. Filiam sunt amore nec est cum autem est se in.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
        <a href="singleblog.html">more <span>+</span></a> </article>
      <article class="post">
        <h3>News from Photography World</h3>
        <a href="../assets/images/flexslider/2.jpg" class="prettyPhoto[gal]"><img class="shadow" src="../assets/images/blog/2.jpg" alt=""/></a>
        <div class="entry-date">
          <div class="number">06 DEC</div>
        </div>
        <p>Lorem ipsum dolor sit amet, proscriptum videt ulteriori. Filiam sunt amore nec est cum autem est se in. Cellam sanctissima coniunx in lucem exempli paupers coniunx rex cum autem quod ait regem Ardalio. Filiam sunt amore nec est cum autem est se in.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
        <a href="singleblog.html">more <span>+</span></a> </article>
      <article class="post">
        <h3>News from Photography World</h3>
        <a href="../assets/images/flexslider/3.jpg" class="prettyPhoto[gal]"><img class="shadow" src="../assets/images/blog/3.jpg" alt=""/></a>
        <div class="entry-date">
          <div class="number">03 DEC</div>
        </div>
        <p>Lorem ipsum dolor sit amet, proscriptum videt ulteriori. Filiam sunt amore nec est cum autem est se in. Cellam sanctissima coniunx in lucem exempli paupers coniunx rex cum autem quod ait regem Ardalio. Filiam sunt amore nec est cum autem est se in.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
        <a href="singleblog.html">more <span>+</span></a> </article>
    </div>
    <!-- ten columns ends here -->
    
    <aside class="six columns omega shadow1">
      <section class="recentnews">
        <h4 class="sidebarheader">Recent News</h4>
        <ul class="tabs">
          <li><a class="active" href="#trends">Trends</a></li>
          <li><a class="" href="#fashion">Fashion</a></li>
          <li><a class="" href="#shows">Shows</a></li>
        </ul>
        <ul class="tabs-content">
          <li class="active" id="trends">
            <p>Lorem ipsum dolor sit amet, proscriptum videt ulteriori. Filiam sunt amore nec est cum autem est se in. Cellam sanctissima coniunx in lucem exempli paupers coniunx rex cum autem quod ait regem Ardalio. Filiam sunt amore nec est cum autem est se in.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
          </li>
          <li id="fashion">
            <p>Lorem ipsum dolor sit amet, proscriptum videt ulteriori. Filiam sunt amore nec est cum autem est se in. Cellam sanctissima coniunx in lucem exempli paupers coniunx rex cum autem quod ait regem Ardalio. Filiam sunt amore nec est cum autem est se in.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
          </li>
          <li id="shows">
            <p>Lorem ipsum dolor sit amet, proscriptum videt ulteriori. Filiam sunt amore nec est cum autem est se in. Cellam sanctissima coniunx in lucem exempli paupers coniunx rex cum autem quod ait regem Ardalio. Filiam sunt amore nec est cum autem est se in.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
          </li>
        </ul>
      </section>
      <!--end recent news-->
      <section class="latestphotos">
        <h4 class="sidebarheader">Latest Photos</h4>
        <div class="one_half"> <img class="shadow" src="../assets/images/images/work1.jpg" alt="work1" /> </div>
        <div class="one_half lastcolumn"> <img class="shadow" src="../assets/images/images/work2.jpg" alt="work2" /> </div>
        <div class="one_half"> <img class="shadow" src="../assets/images/images/work3.jpg" alt="work3" /> </div>
        <div class="one_half lastcolumn"> <img class="shadow" src="../assets/images/images/work4.jpg" alt="work4" /> </div>
      </section>
      <!--end latestphotos-->
      
      <section class="categorie">
        <h4 class="sidebarheader">Categories</h4>
        <ul class="categories">
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Beauty</a></li>
          <li><a href="#">Charity</a></li>
          <li><a href="#">Fashion Shows</a></li>
        </ul>
      </section>
      <!--end categories--> 
    </aside>
    <!--end six columns--> 
  </div>