<!-- Socialize ==================================================
  ================================================== -->
  <hr class="separator2">
  <div class="socialsblock">
    <div class="container socialize">
      <h3>Socialize with us!</h3>
      <section class="socials">
        <ul class="socials">
          <li><a href="#"><img src="../assets/images/socials/twitter.png" alt="" /></a></li>
          <li><a href="#"><img src="../assets/images/socials/facebook.png" alt="" /></a></li>
          <li><a href="#"><img src="../assets/images/socials/dribbble.png" alt="" /></a></li>
          <li><a href="#"><img src="../assets/images/socials/google+.png" alt="" /></a></li>
          <li><a href="#"><img src="../assets/images/socials/linkedin.png" alt="" /></a></li>
          <li><a href="#"><img src="../assets/images/socials/youtube.png" alt="" /></a></li>
        </ul>
      </section>
    </div>
    <!-- container ends here --> 
  </div>
  <!-- socialsblock ends here --> 